.page-profile {
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  .card {
    background: rgba(255, 255, 255, 0.1);
    border: none;
  }

  .card-title {
    color: white;
  }

  .list-group-item {
    background: transparent;
    color: white;
    border-color: rgba(255, 255, 255, 0.2);
  }
}
