<div class="bottom-navbar">

  <!-- Icon info -->
  <div class="nav-item left">
    <%= image_tag "icon-info.svg", class: "nav-icon" %>
  </div>

  <!-- Home icon -->
  <div class="nav-item">
    <%= image_tag "icon-home.svg", class: "nav-icon" %>
  </div>

  <!-- Back icon -->
  <div class="nav-item">
    <%= image_tag "icon-back.svg", class: "nav-icon" %>
  </div>

  <!-- Profile section -->
  <div class="nav-profile right">

    <%= image_tag "icon-profile.svg", class: "profile-icon" %>
  </div>

</div>
