<nav class="bottom-navbar">
  <div class="nav-left" id="phrase-btn">
    <%= image_tag "icon-info.svg", class: "nav-icon" %>
  </div>

  <div class="nav-center">
    <%= link_to categories_path do %>
      <%= image_tag "icon-add-goal.svg", class: "nav-add-icon" %>
    <% end %>
  </div>

  <div class="nav-right">
    <%= image_tag "icon-profile.svg", class: "nav-icon" %>
  </div>
</nav>
