.goal-show-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;


  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: white
    
  }

  p {
    font-size: 18px;
    color: #555;
  }
}
.trophy-list {
  margin-top: 20px;
}

.trophy-card {
  background: #624CAB;
  border-radius: 14px;
  padding: 17px 20px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  margin: 16px 16px 16px 16px;
}

.trophy-card-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 6px 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

}

.trophy-card-text p {
  font-size: 14px;
  margin: 0;
  opacity: 0.9;
}

.validate-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.validated {
  font-size: 22px;
  opacity: 0.7;
}

.progress-container {
  width: 100%;
  height: 20px;
  background: #079494;
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}

.progress-bar {
  height: 100%;
  background: #04cece;
  border-radius: 15px;
  transition: width 0.4s ease;
}

.progress-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.validate-icon {
  width: 40px;
  height: 40px;
}

.validate-btn {
  padding: 4px;
  background: none;
  border: none;
}

.trophy-popup {
  position: fixed; 
  inset: 0;
  background: rgba(0,0,0,0.6); 
  display: none;
  align-items: center;  
  justify-content: center;
  z-index: 2000;
}

.trophy-popup.is-visible {
  display: flex;
}

.trophy-popup-content {
  background: rgba(255, 255, 255, 0.95);
  padding: 24px;
  border-radius: 20px;
  text-align: center;
  width: 90%;        
  max-width: 320px;
  text-align: center;
}

.trophy-popup-content h2 {
  font-size: 24px;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 16px;
}

.trophy-icon-img {
  width: 40px;
  height: 40px;
}

.popup-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.popup-close {
  background: #624CAB;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.popup-share {
  background: white;
  border: 1px solid #624CAB;
  color: #624CAB;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

.trophy-card-popup {
  background: rgba(255, 255, 255, 0.95);
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 20px;

  border: 1px solid rgba(0, 0, 0, 0.1);
}

.trophy-card-popup h3 {
  font-size: 16px;
  margin-bottom: 4px;
}
