.goal-show-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

  h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: white
    
  }

  p {
    font-size: 18px;
    color: #555;
  }
}
.trophy-list {
  margin-top: 20px;
}

.trophy-card {
  background: #624CAB;
  border-radius: 14px;
  padding: 17px 20px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  margin-bottom: 16px;
}

.trophy-card-text h3 {
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 6px 0;
}

.trophy-card-text p {
  font-size: 14px;
  margin: 0;
  opacity: 0.9;
}

.validate-btn {
  background: transparent;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.validated {
  font-size: 22px;
  opacity: 0.7;
}

.progress-container {
  width: 100%;
  height: 20px;
  background: #079494;
  border-radius: 15px;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  background: #04cece;
  border-radius: 15px;
  transition: width 0.4s ease;
}

.progress-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 12px;
}